.TaskManager {
    display: flex;
    flex-direction: row;
}

.TaskManager-List {
    flex-basis: 70%;
}

.TaskManager-Filter {
    flex-basis: 300px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 60px;
}


